body{
    background-color: antiquewhite;
    text-align: center;
    font-family: "Comic Sans MS";
}
h1 {color: palevioletred;
    font-size: 80px;
    font-family: "Comic Sans MS" ;
    text-shadow: mediumpurple 2px 2px;
    }
h2 {color: palevioletred}

h3 {
    font-size: 40px;
    text-shadow: grey 1px 1px;
}


.quote { color: palevioletred;
         font-size:30px;
        font-weight: bold;
    font-family: "Comic Sans MS";
    text-shadow: plum 1px 2px;

}


table, th, td { table-layout: fixed;
    border: 2px ridge grey;
    border-collapse: collapse;
width:30%;}

.container {
    display: flex;
    justify-content: center;
    text-align: left;
}
img{
    border: groove lavenderblush 10px;



}